@model CMS.Models.ViewModel.CMSViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Add New Track";

    if (Model.Tracks.Id != 0)
    {
        ViewData["Title"] = "Update Track";
    }
    else
    {
        ViewData["Title"] = "Add New Track";
    }
}

<div class="container">
    <div class="col-6 m-0 m-auto border">
        <form method="post" asp-action="AddTrack" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.Tracks.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Tracks.Id" />
                title = "Update Track";
            }

            <div class="row justify-content-center">
                <h3>@title</h3>
            </div>
            <hr class="w-75" />

            <div class="row form-group">
                <label asp-for="@Model.Tracks.Name"></label>
                <input asp-for="@Model.Tracks.Name" class="form-control" />
                <span asp-validation-for="@Model.Tracks.Name" class="text-danger"></span>
            </div>

            <div class="row form-group">
                <label>Conference Name</label>
                @Html.DropDownListFor(i => i.Tracks.ConferenceId, Model.ConferenceList, "Select New Conference", new { @class="form-control"})
            </div>

            <div class="row form-group pb-3">

                @if (Model.Tracks.Id != 0)
                {
                    <partial name="_EditAndBackBtn" model="@Model.Tracks.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackBtn" />
                }

            </div>

        </form>
    </div>
</div>