@model CMS.Models.ViewModel.CMSViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Add New Session Tag";

    if (Model.STag.Id != 0)
    {
        ViewData["Title"] = "Update Session Tag";
    }
    else
    {
        ViewData["Title"] = "Add New Session Tag";
    }
}

<div class="container">
    <div class="col-6 m-0 m-auto border rounded">
        <form method="post" asp-action="AddSTag" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.STag.Id != 0)
            {
                <input type="hidden" asp-for="@Model.STag.Id" />
                title = "Update Session Tag";
            }

            <div class="row justify-content-center">
                <h3>@title</h3>
            </div>
            <hr class="w-75" />

            <div class="row form-group">
                <label>Session Title</label>
                @Html.DropDownListFor(i => i.STag.SessionId, Model.SessionsList, "Select Session Title", new { @class = "form-control" })
            </div>

            <div class="row form-group">
                <label>Tag Name</label>
                @Html.DropDownListFor(i => i.STag.TagId, Model.TagsList, "Select Tag Name", new { @class = "form-control" })
            </div>

            <div class="row form-group">

                @if(Model.STag.Id != 0)
                {
                    <partial name="_EditAndBackBtn" model="@Model.STag.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackBtn" />
                }

            </div>

        </form>
    </div>
</div>