@model CMS.Models.ViewModel.CMSViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var title = "Add New Tag";

    if (Model.Tags.Id != 0)
    {
        ViewData["Title"] = "Update Tag";
    }
    else
    {
        ViewData["Title"] = "Add New Tag";
    }
}

<div class="container">
    <div class="col-6 m-0 m-auto cus-border">
        <form method="post" asp-action="AddTag" class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @if (Model.Tags.Id != 0)
            {
                <input type="hidden" asp-for="@Model.Tags.Id" />
                title = "Update Tag";
            }

            <div class="row justify-content-center">
                <h3 class="pt-2">@title</h3>
            </div>
            <hr class="w-75" />


            <div class="row form-group">
                <label asp-for="@Model.Tags.Name"></label>
                <input asp-for="@Model.Tags.Name" class="form-control" />
                <span asp-validation-for="@Model.Tags.Name" class="text-danger"></span>
            </div>

            <div class="row form-group pb-2">

                @if (Model.Tags.Id != 0)
                {
                    <partial name="_EditAndBackBtn" model="@Model.Tags.Id" />
                }
                else
                {
                    <partial name="_CreateAndBackBtn" />
                }

            </div>
        </form>
    </div>
</div>

@section Scripts{
    <style>
        .cus-border {
            border: 2px solid #004481;
            border-top-left-radius: 50px;
            border-top-right-radius: 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 50px;
        }

        label {
            font-weight: 400;
        }

        input[type=text] {
            border-color: #0094ff;
        }

        hr {
            border-color: black;
        }
    </style>
}